<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>filters.myFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener, HttpSessionAttributeListener</description>
        <listener-class>listener.HttpAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertUserServlet</servlet-name>
        <servlet-class>servlets.insertUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserServlet</servlet-name>
        <servlet-class>servlets.checkUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminIndexServlet</servlet-name>
        <servlet-class>servlets.adminIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userIndexServlet</servlet-name>
        <servlet-class>servlets.userIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categoryFormServlet</servlet-name>
        <servlet-class>servlets.categoryFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionDestroyServlet</servlet-name>
        <servlet-class>servlets.sessionDestroyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCategory</servlet-name>
        <servlet-class>servlets.insertCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>servlets.indexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>itemFormServlet</servlet-name>
        <servlet-class>servlets.itemFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertItem</servlet-name>
        <servlet-class>servlets.insertItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartServlet</servlet-name>
        <servlet-class>servlets.addToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartServlet</servlet-name>
        <servlet-class>servlets.cartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertUserServlet</servlet-name>
        <url-pattern>/insertUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserServlet</servlet-name>
        <url-pattern>/checkUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminIndexServlet</servlet-name>
        <url-pattern>/adminIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userIndexServlet</servlet-name>
        <url-pattern>/userIndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categoryFormServlet</servlet-name>
        <url-pattern>/categoryFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionDestroyServlet</servlet-name>
        <url-pattern>/sessionDestroyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCategory</servlet-name>
        <url-pattern>/insertCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>itemFormServlet</servlet-name>
        <url-pattern>/itemFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertItem</servlet-name>
        <url-pattern>/insertItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartServlet</servlet-name>
        <url-pattern>/addToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartServlet</servlet-name>
        <url-pattern>/cartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
